body
{
    background-color: #FFEFD5;
    color: #8B4513;
    margin: auto;
    width: 70%;
}

table, tr, th
{  
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 300px;
    height: 25px;
    padding: 5px;
    border: 1px solid;
    border-collapse: collapse;
}

.jobb
{
    width: 120px;
    text-align: center;
}



.fejlec
{
    background-image: url(../resources/img/szines.jpg);
    background-size: cover;
    padding: 20px;
    height: 90px;
    
}

h1
{
    margin-left: 3px;
    
}

.menu
{
    float: left;
    width: 340px;
    padding: 12px; 
}

.tartalom
{
    width: 95%;
    padding: 20px;
    text-align: justify;
}

ul
{
    padding: 13px;
    margin-left: 40px;
}

li
{
    list-style: url(../resources/img/chili-pepper-icon.gif);
    border: 1px solid #13a8fd;
    background-color: rgb(248, 248, 248);
    padding: 8px;
    margin-bottom: 20px;
    width: 180px;
    color: black;
    font-weight: bold;
}

a
{
    text-decoration: none;
}